In [1]:
import seaborn as sns
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

# Preprocessing

In [2]:
# setting the dataframes

raw_housing = pd.read_csv('./data/Ames_Housing_Price_Data.csv', index_col=0)
raw_realty = pd.read_csv('./data/Ames_Real_Estate_Data.csv', index_col=0)
raw_housing.shape

/var/folders/qp/1k1ym6rd1z34yt05vjspksl40000gn/T/ipykernel_4578/4020161191.py:4: DtypeWarning: Columns (36,40,81,87) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_realty = pd.read_csv('./data/Ames_Real_Estate_Data.csv', index_col=0)

(2580, 80)

### Cleaning up raw data

In [3]:
raw_housing.reset_index()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,903205040,952,121000,30,RL,NaN,8854,Pave,NaN,Reg,...,40,0,NaN,NaN,NaN,0,5,2009,WD,Normal
2576,905402060,1733,139600,20,RL,NaN,13680,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal
2577,909275030,2002,145000,90,RH,82.0,6270,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,8,2007,WD,Normal
2578,907192040,1842,217500,60,RL,NaN,8826,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,7,2007,WD,Normal
2579,906223180,1911,215000,60,RL,80.0,9554,Pave,NaN,IR1,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Normal

In [4]:
housing = raw_housing.reset_index()
housing.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,909176150,856,126000,30,RL,NaN,7890,Pave,NaN,Reg,...,166,0,NaN,NaN,NaN,0,3,2010,WD,Normal
1,905476230,1049,139500,120,RL,42.0,4235,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,2,2009,WD,Normal
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2007,WD,Normal
3,535377150,1039,114000,70,RL,80.0,8146,Pave,NaN,Reg,...,111,0,NaN,NaN,NaN,0,5,2009,WD,Normal
4,534177230,1665,227000,60,RL,70.0,8400,Pave,NaN,Reg,...,0,0,NaN,NaN,NaN,0,11,2009,WD,Normal

### Dealing with missing values

In [5]:
# lets start by cleaning up the data with missing values. 
# not all missing values are expected to be "non-existent"

cols = housing.columns[housing.isna().any()].to_list()
print(cols)

['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Electrical', 'BsmtFullBath', 'BsmtHalfBath', 'FireplaceQu', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature']

In [6]:
# lets separate all of these to groups to make it easier to investigate

Basement = []
Garage = []
Outdoor = []
Other = []

for col in cols:
    if 'Bsmt' in col:
        Basement.append(col)
    elif 'Garage' in col:
        Garage.append(col)
    elif col in ['Fence', 'PoolQC', 'FireplaceQu', 'MasVnrType', 'MasVnrArea']:
        Outdoor.append(col)
    else:
        Other.append(col)
        
print(Basement)
print(Garage)
print(Outdoor)
print(Other)

['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath']
['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual', 'GarageCond']
['MasVnrType', 'MasVnrArea', 'FireplaceQu', 'PoolQC', 'Fence']
['LotFrontage', 'Alley', 'Electrical', 'MiscFeature']

##### Basement

In [7]:
# lets first create some dictionaries

Exposure = {'NA': 0, 'No': 1, 'Mn': 2, 'Gd': 3, 'Av': 4}
FinType = {'NA': 0, 'Unf': 1, 'LwQ': 2, 'Rec': 3, 'BLQ': 4, 'ALQ': 5, 'GLQ': 6}
QualCond = {'NA': 0, 'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5}

GarFin = {'NA': 0, 'Unf': 1, 'RFn': 2, 'Fin': 3}
FenceQual = {'NA': 0, 'MnWw': 1, 'GdWo': 2, 'MnPrv': 3, 'GdPrv': 4}

In [8]:
# lets start by looking at the null in total basement SF

housing[housing['TotalBsmtSF'].isna()] 
# looks like all of these have NaN in the basement type. 
# lets change these values to 0

housing['TotalBsmtSF'].fillna(0, inplace=True)
    
# additionally, lets have all observations = 0 if the total SF == 0
for col in housing[Basement].drop('TotalBsmtSF', axis=1).columns.tolist():
    housing[col] = housing[col].mask(housing['TotalBsmtSF'] == 0, 'NA')
    
    
# lets investigate the other missing values

# BsmtExposure has 2 missing values still, but those values have good basement quality
# lets fill those with the most common, which is 'No'
housing['BsmtExposure'].fillna('No', inplace = True)

# BsmtFinType2 has 1 missing value, but basement quality is good
# lets fill those with the most common, which is 'Unf'
housing['BsmtFinType2'].fillna('Unf', inplace = True)

# now we can apply formulas to the ordinal rows
housing['BsmtExposure'] = housing['BsmtExposure'].apply(lambda row: Exposure[row])
housing['BsmtFinType1'] = housing['BsmtFinType1'].apply(lambda row: FinType[row])
housing['BsmtFinType2'] = housing['BsmtFinType2'].apply(lambda row: FinType[row])
housing['BsmtQual'] = housing['BsmtQual'].apply(lambda row: QualCond[row])
housing['BsmtCond'] = housing['BsmtCond'].apply(lambda row: QualCond[row])
housing['BsmtFinSF1'] = housing['BsmtFinSF1'].apply(lambda row: 0 if row == 'NA' else row)
housing['BsmtFinSF2'] = housing['BsmtFinSF2'].apply(lambda row: 0 if row == 'NA' else row)
housing['BsmtUnfSF'] = housing['BsmtUnfSF'].apply(lambda row: 0 if row == 'NA' else row)
housing['BsmtFullBath'] = housing['BsmtFullBath'].apply(lambda row: 0 if row == 'NA' else row)
housing['BsmtHalfBath'] = housing['BsmtHalfBath'].apply(lambda row: 0 if row == 'NA' else row)

# and take a look at our partial df
housing[Basement]

,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,BsmtFullBath,BsmtHalfBath
0,3,3,1,3,238.0,1,0.0,618.0,856.0,1.0,0.0
1,4,3,2,6,552.0,5,393.0,104.0,1049.0,1.0,0.0
2,3,3,1,5,737.0,1,0.0,100.0,837.0,0.0,0.0
3,2,3,1,1,0.0,1,0.0,405.0,405.0,0.0,0.0
4,4,3,1,6,643.0,1,0.0,167.0,810.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2575,3,3,1,1,0.0,1,0.0,952.0,952.0,0.0,0.0
2576,0,0,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2577,3,3,1,4,284.0,1,0.0,717.0,1001.0,0.0,0.0
2578,4,3,1,6,841.0,1,0.0,144.0,985.0,1.0,0.0
2579,4,3,1,6,380.0,1,0.0,397.0,777.0,0.0,0.0

##### Garage

In [9]:
# lets start by filling the null values in GarageArea to 0

housing['GarageArea'].fillna(0, inplace=True)

# lets fill missing GarageType values with 'NoGarage'
# as this is nominal, we'll dummify later
housing['GarageType'].fillna('NoGarage', inplace=True)

# now we can replace NaN values for observations without a garage

housing['GarageQual'].fillna('NA', inplace = True)
housing['GarageCond'].fillna('NA', inplace = True)
housing['GarageFinish'].fillna('NA', inplace = True)

# investigating missing values in columns WITH a garage:

# missing GarageYrBlt will be entered as the YearBuilt
housing['GarageYrBlt'] = housing['GarageYrBlt'].mask(
    housing['GarageType'] != 'NoGarage', housing['YearBuilt'])

# mising GarageCars values will be replaced to the most common: 2
housing['GarageCars'] = housing['GarageCars'].mask(
    housing['GarageType'] != 'NoGarage', 2)

# finally, we can apply a formula to the other missing values
housing['GarageQual'] = housing['GarageQual'].apply(lambda row: QualCond[row])
housing['GarageCond'] = housing['GarageCond'].apply(lambda row: QualCond[row])
housing['GarageFinish'] = housing['GarageFinish'].apply(lambda row: GarFin[row])

# we'll leave the missing GarageYrBlt values as NaN for now
housing[Garage]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
0,Detchd,1939.0,1,2.0,399.0,3,3
1,Attchd,1984.0,3,2.0,266.0,3,3
2,Detchd,1930.0,1,2.0,216.0,3,1
3,Detchd,1900.0,1,2.0,281.0,3,3
4,Attchd,2001.0,3,2.0,528.0,3,3
...,...,...,...,...,...,...,...
2575,Detchd,1916.0,1,2.0,192.0,2,1
2576,Attchd,1955.0,1,2.0,452.0,3,3
2577,2Types,1949.0,1,2.0,871.0,3,3
2578,Attchd,2000.0,3,2.0,486.0,3,3
2579,Attchd,1993.0,2,2.0,471.0,3,3

##### Outdoor

In [10]:
# lets start with MasVnrType and MasVnrArea

# lets fill na values of MasVnrArea to 0, then mask the type with 'None'
# MasVnrType is nominal, so we'll dummify this later

housing['MasVnrArea'].fillna(0, inplace=True)
housing['MasVnrType'] = housing['MasVnrType'].mask(housing['MasVnrArea'] == 0, 'None')

# we can first fill some null values
housing['FireplaceQu'].fillna('NA', inplace=True)
housing['Fence'].fillna('NA', inplace=True)

# for PoolQC, I'm going to fill to 'Po' because it doesn't have a 'Poor quality'
# that way, I can use the QualCond row and subtract by 1
housing['PoolQC'].fillna('Po', inplace=True)

# now we can apply functions
housing['FireplaceQu'] = housing['FireplaceQu'].apply(lambda row: QualCond[row])
housing['PoolQC'] = housing['PoolQC'].apply(lambda row: QualCond[row]-1)
housing['Fence'] = housing['Fence'].apply(lambda row: FenceQual[row])

housing[Outdoor]

     MasVnrType  MasVnrArea  FireplaceQu  PoolQC  Fence
0          None         0.0            4       0      0
1       BrkFace       149.0            0       0      0
2          None         0.0            0       0      0
3          None         0.0            0       0      0
4          None         0.0            0       0      0
...         ...         ...          ...     ...    ...
2575       None         0.0            4       0      0
2576       None         0.0            4       0      0
2577       None         0.0            0       0      0
2578    BrkFace       144.0            3       0      0
2579    BrkFace       125.0            3       0      0

[2580 rows x 5 columns]

##### Other

In [11]:
# for LotFrontage and Alley, null values are 0, so lets mask them as such

housing['LotFrontage'].fillna(0, inplace=True)
housing['Alley'].fillna(0, inplace=True)

# for electrical, theres only one missing value, so lets mask it with the most common: SBrkr
housing['Electrical'].fillna('SBrkr', inplace=True)

# for misc features, these are nominal descriptive
# lets first fill missing values, and we'll dummify it later
housing['MiscFeature'].fillna('None', inplace=True)

housing[Other]

      LotFrontage Alley Electrical MiscFeature
0             0.0     0      SBrkr        None
1            42.0     0      SBrkr        None
2            60.0     0      SBrkr        None
3            80.0     0      SBrkr        None
4            70.0     0      SBrkr        None
...           ...   ...        ...         ...
2575          0.0     0      FuseF        None
2576          0.0     0      FuseA        None
2577         82.0     0      FuseA        None
2578          0.0     0      SBrkr        None
2579         80.0     0      SBrkr        None

[2580 rows x 4 columns]

### Dealing with Categorical Columns

In [12]:
housing.head()

,PID,GrLivArea,SalePrice,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,909176150,856,126000,30,RL,0.0,7890,Pave,0,Reg,...,166,0,0,0,None,0,3,2010,WD,Normal
1,905476230,1049,139500,120,RL,42.0,4235,Pave,0,Reg,...,0,0,0,0,None,0,2,2009,WD,Normal
2,911128020,1001,124900,30,C (all),60.0,6060,Pave,0,Reg,...,0,0,0,0,None,0,11,2007,WD,Normal
3,535377150,1039,114000,70,RL,80.0,8146,Pave,0,Reg,...,111,0,0,0,None,0,5,2009,WD,Normal
4,534177230,1665,227000,60,RL,70.0,8400,Pave,0,Reg,...,0,0,0,0,None,0,11,2009,WD,Normal

##### Nominal Categorical:

In [13]:
nominal_cols = ['MSSubClass', 'MSZoning', 'Street', 'Alley', 'LandContour',
               'Utilities', 'LotConfig', 'Neighborhood', 'Condition1', 'Condition2',
               'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 
                'Exterior2nd', 'MasVnrType', 'Foundation', 'Heating', 'CentralAir', 
                'Electrical', 'GarageType', 'MiscFeature', 'SaleType', 'SaleCondition']

In [14]:
# lets make a function to make it easier to dummify specific features

def dummify(features):
    
    '''
    Dummify features, remove the highest value count
    Features are of type list
    '''
    
    for feature in features:
        
        # create the dummified dataframe
        value_to_drop = housing[feature].value_counts().index[0]
        globals()[feature] = pd.get_dummies(housing[feature], prefix=feature)
        globals()[feature].drop(f'{feature}_{value_to_drop}', axis=1, inplace=True)
        
        # merge the dataframes together
        try:
            df = df.merge(globals()[feature], left_index=True, right_index=True)
        except:
            df = globals()[feature]
            
    return df

In [15]:
dummify(nominal_cols)

,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_VWD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Partial
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2577,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2578,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2579,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Ordinal Categorical

In [16]:
ordinal_cols = ['LotShape', 'LandSlope', 'OverallQual', 'OverallCond', 'ExterQual', 
                'ExterCond', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 
                'BsmtFinType2', 'HeatingQC', 'BsmtFullBath', 'BsmtHalfBath', 
                'FullBath', 'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 
                'KitchenQual', 'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 
                'GarageFinish', 'GarageCars', 'GarageQual', 'GarageCond', 'PavedDrive', 
                'PoolQC', 'Fence']

In [17]:
# let's do the same thing for the ordinal cols

def ordinal(features):
    '''
    changes ordinal values to ranked numbers
    '''
    
    dicts = {'LotShape': {'IR3': 1, 'IR2': 2, 'IR1': 3, 'Reg': 4}, 
             'LandSlope': {'Sev': 1, 'Mod': 2, 'Gtl': 3},
             'ExterQual': {'Fa': 1, 'TA': 2, 'Gd': 3, 'Ex': 4},
             'ExterCond': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5},
             'HeatingQC': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5},
             'KitchenQual': {'Po': 1, 'Fa': 2, 'TA': 3, 'Gd': 4, 'Ex': 5},
             'Functional': {'Sal': 1, 'Sev': 2, 'Maj2': 3, 'Maj1': 4, 'Mod': 5, 'Min2': 6, 'Min1': 7, 'Typ': 8},
             'PavedDrive': {'N': 1, 'P': 2, 'Y': 3}}
    
    for feature in features:
        try: 
            housing[feature] = housing[feature].apply(lambda row: dicts[feature][row])
        except:
            pass
        
    return housing[features]

In [18]:
ordinal(ordinal_cols)

,LotShape,LandSlope,OverallQual,OverallCond,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,...,Functional,Fireplaces,FireplaceQu,GarageFinish,GarageCars,GarageQual,GarageCond,PavedDrive,PoolQC,Fence
0,4,3,6,6,2,3,3,3,1,3,...,8,1,4,1,2.0,3,3,3,0,0
1,4,3,5,5,3,3,4,3,2,6,...,8,0,0,3,2.0,3,3,3,0,0
2,4,3,5,9,3,3,3,3,1,5,...,8,0,0,1,2.0,3,1,1,0,0
3,4,3,4,8,3,4,2,3,1,1,...,8,0,0,1,2.0,3,3,1,0,0
4,4,3,8,6,3,3,4,3,1,6,...,8,0,0,3,2.0,3,3,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,4,3,6,6,2,3,3,3,1,1,...,8,1,4,1,2.0,2,1,2,0,0
2576,3,3,3,5,2,3,0,0,0,0,...,6,1,4,1,2.0,3,3,3,0,0
2577,4,3,5,6,2,3,3,3,1,4,...,8,0,0,1,2.0,3,3,3,0,0
2578,4,3,7,5,3,3,4,3,1,6,...,8,1,3,3,2.0,3,3,3,0,0
2579,3,3,8,5,3,3,4,3,1,6,...,8,1,3,2,2.0,3,3,3,0,0

##### Continuous Variables

In [19]:
continuous_cols = ['GrLivArea', 'SalePrice', 'LotFrontage', 'LotArea', 'YearBuilt', 
                   'YearRemodAdd', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 
                   'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'GarageYrBlt', 'GarageArea', 
                   'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 
                   'PoolArea', 'MoSold', 'YrSold']

In [20]:
df = pd.read_csv('./data/cleaned_housing.csv')
features = housing[[*ordinal_cols, *continuous_cols]].drop(
    'SalePrice', axis=1).merge(dummify(nominal_cols), left_index=True, right_index=True)

features = features.merge(df[['crime_rate', 'school_quality']], 
                          left_index=True, right_index=True).fillna(0)

features = features.rename({'crime_rate': 'CrimeRate', 'school_quality': 'SchoolQuality'}, axis=1)

In [21]:
features['HomeAge'] = features['YrSold'] - features['YearBuilt']
features['GarageAge'] = features['YrSold'] - features['GarageYrBlt']
features['LastRemod'] = features['YrSold'] - features['YearRemodAdd']

features = features.drop(['YrSold', 'YearBuilt', 'GarageYrBlt', 'YearRemodAdd'], axis=1)

In [22]:
features.to_csv('./data/features_dummified_219col.csv', index=False)